/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* Universal css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FD6E0A;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary-color {
    color: var(--primary-color);
}

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    background: var(--primary-color);
    padding: 14px 32px;
    transition: .5s ease-out;
}

.btn-primary:hover {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid var(--primary-color);
    padding: 14px 32px;
}

.btn-white-primary {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid var(--primary-color);
    padding: 14px 32px;
}


/* Nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0px 20px;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* Header realted style */
.header {
    /* background: #FFF8F3; */
    background: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 100px;

}

.banner-content {
    max-width: 800px;
}

.banner-greeting {
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    max-width: 500px;
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.profile-picture {
    height: 600px;
    margin-bottom: 0px;
    /* margin-bottom: -5px; */

}

/* main section style */
/* about section style */
.about {
    padding: 130px 150px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 80px 100px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    margin: 30px 0;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */
}